
.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brandCard {
    box-shadow: 0 10px 35px rgb(0 0 0);
    width: max-content;
    box-sizing: border-box;
    width: 245px;
    padding: 20px;
    margin: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9cf;
    text-align: center;
    color: #333;
    transition: background-color 0.3s cubic-bezier(0.71, -0.52, 0.12, 1.13);
}

    .brandCard:hover {
        background-color: #ffffff;
    }

.brandLogo {
    max-width: 100px; /* Adjust the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some space between the logo and brand name */
}

h2 {
    color: #fff;
    background-color: #282828;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}

p {
    color: #333; /* Text color for description */
}

a {
    text-decoration: none;
}
