.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    background: #ccffff;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.rating {
    display: flex;
    flex-direction: column;
}

.checked {
    color: orange;
}

.reviewBox {
    border: 1px solid black;
}

.slider {
    position: relative;
    left: 0;
    height: 400px;
    border-style: solid;
    border-width: 5px;
}

.content {
    position: relative;
}