<button type="button">
    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Add">Add a new product</a>
    <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Brand" asp-action="Add">Add a new brand</a>
</button>