
/* Your CSS styles here */
body {
    background-color: #252525;
}

tbody, td, tfoot, th, thead, tr {
    padding-inline: 25px;
    */border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.white-box {
    min-width: fit-content;
    margin: 30px;
    /* max-width: 0px; */
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
    /* margin-top: 20px; */
}

.table-header,
.table-data {
    border: 1px solid #807e7e;
    text-align: left;
}

.table-header {
    background-color: #252525;
}
.table-row {
    background-color: #dddbdb;
}

    .table-row:hover {
        .white-box

{
    min-width: fit-content;
    margin: 30px;
    /* max-width: 0px; */
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
        background-color: rgb(189, 189, 189);
    }

.custom-label {
    /* margin-inline: 4px; */
    margin-block: 3px;
    color: rgb(225 225 225);
    display: block;
    /* margin-bottom: 5px; */
}

.custom-button {
    margin-block: 5px;
    padding: 5px 10px;
    background-color: #880411;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

    .custom-button:hover {
        background-color: #d00014;
    }

.top-products-container {
    position: relative;
    top: 43px;
}

