@model DetailedProductViewModel

@{
    ViewBag.Title = Model.Brand + " " + Model.Model;
}



<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="card-img-top" style="width: auto; height: 250px;"
                 src="@Model.ImageData" alt="Product Image">
             </div>

            <div class="col-12 col-md-6">
                    <h5 class="card-title mt-1">@Model.Description</h5>
            </div>
        </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}