@model DetailedProductViewModel

@{
    ViewBag.Title = "Detailed Product";
}



<h2 class="text-center">@ViewBag.Title</h2>
<hr />



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}