@using Microsoft.AspNetCore.Identity;
@using SportArete.Infrastructure.Data.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style>
    .navbar {
        height: 50px;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        /* padding-top: 0.5rem; */
        /* padding-bottom: 0.5rem; */
        flex-direction: row;
    }

    .nav-link {
        font-variant-caps: all-petite-caps;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }

        .nav-link:hover {
            font-weight: bold;
        }

    .nav-l1 {
        font-variant: all-small-caps;
        color: black;
    }

        .nav-l1:hover {
            border-bottom: solid;
        }

    .p1 {
        margin-top: 0;
        margin-bottom: 0rem;
    }
    .p1:hover{
        cursor:pointer;
    }

</style>


@if (SignInManager.IsSignedIn(User))
{

    <form id="logoutForm" class="nav-link text-dark" asp-controller="User" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">
        <p class="nav-link text-dark p1" onclick="document.getElementById('logoutForm').submit();">Logout</p>
    </form>


}
else
{
    <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
    <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
}
