<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportArete</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportArete.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProductSliderCSS.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DetailCSS.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StarRateSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LogInRegisterStyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TableSheet.css" asp-append-version="true" />

    <style>
        .navbar {
            height: 50px;
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        .nav-link {
            font-variant-caps: all-petite-caps;
            padding: 0.5rem 1rem;
            text-decoration: none;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        }

            .nav-link:hover {
                font-weight: bold;
            }

        .nav-l1 {
            font-variant: all-small-caps;
            color: black;
        }

            .nav-l1:hover {
                border-bottom: solid;
            }

        .mobile-warning {
            display: none;
            text-align: center;
            font-size: 1.5rem;
            color: red;
            margin: 1rem 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportArete</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="All">Browse all products</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Brand" asp-action="Index">Brands</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Mine">My orders</a>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="MyCart">
                            <img src="https://media.istockphoto.com/id/1206806317/vector/shopping-cart-icon-isolated-on-white-background.jpg?s=170667a&w=0&k=20&c=jFgoM27NKwD5xbu6U9gkOwlIKc1L82PlFDYlcIJwi8E="
                                 alt="Cart logo" width="30" height="30">
                        </a>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="mobile-warning" id="mobileWarning">We kindly recommend using a PC for the best experience on our site. Thank you!</div>

        @RenderBody()

        @* <div class="footer-container">
        <footer>
        <p>
        &copy; 2022 - SportArete - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </p>
        </footer>
        </div>*@
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ProductSliderJS.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function checkScreenSize() {
            if (window.innerWidth < 768) {
                document.getElementById('mobileWarning').style.display = 'block';
            }
        }

        checkScreenSize();

        window.onresize = checkScreenSize;
    </script>
</body>
</html>
